:root{
  --gradient: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--gradient);
}
html{
  height: 100%;
}
.Header-Container {
  margin: 5px;
  text-align: center;
  height: 200px;
}
.Header-Text{
  height: 50px;
  margin: 25px;
  text-align: center;
  padding: auto;
  font-size: 100px;
  color: white;
}
.Intro-Container{
  height: auto;
  width: 95%;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  margin: auto;
  padding: 30px;
  padding-top: 25px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.Continue-Container{
  display: grid;
  grid-template-columns: auto auto auto;
}
